<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6">
          <h2>產品列表</h2>
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th width="150">產品名稱</th>
                <th width="120">原價</th>
                <th width="120">售價</th>
                <th width="150">是否啟用</th>
                <th width="120">查看細節</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in products" :key="item.id">
                <td width="150">{{ item.title}}</td>
                <td width="120">{{ item.origin_price}}</td>
                <td width="120">{{item.price }}</td>
                <td width="150">
                  <span v-if="item.is_enabled" class="text-success">啟用</span>
                  <span v-else >未啟用</span>
                </td>
                <td width="120">
                  <!-- 這裏再把 每筆資料 導入到 soloProduct 裡面 -->
                  <button type="button" class="btn btn-primary" @click="soloProduct = item">
                    查看細節
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 <span>{{ products.length}}</span> 項產品</p>
          <!-- 查看soloProduct 是否有抓到資料 -->
          <!-- <p>{{soloProduct}}</p> -->
        </div>
        <div class="col-md-6">
          <h2>單一產品細節</h2>
          <template v-if="soloProduct.title">
            <div class="card mb-3">
              <img :src="soloProduct.imageUrl" class="card-img-top primary-image" alt="主圖" />
              <div class="card-body">
                <h5 class="card-title">
                  {{ soloProduct.title}}
                  <span class="badge bg-primary ms-2">{{soloProduct.category }}</span>
                </h5>
                <p class="card-text">商品描述：{{ soloProduct.description }}</p>
                <p class="card-text">商品內容：{{ soloProduct.content}}</p>
                <div class="d-flex">
                  <p class="card-text me-2">{{ soloProduct.price}}</p>
                  <p class="card-text text-secondary"><del>{{soloProduct.origin_price }}</del></p>
                  元 / {{ soloProduct.unit}}
                </div>
              </div>
            </div>
            <template v-for="(item,id) in soloProduct.imagesUrl" :key="id">
              <img :src="item" alt="" class="images m-2" />
            </template>
          </template>
          <p v-else class="text-secondary">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./data.js" type="module"></script>
</body>

</html>